.gravity-box {
  margin: auto;
  width: 480px;
  height: 280px;
  border: 1px solid black;
  position: relative;
}
.number {
  position: absolute;
  cursor: pointer;
  width: 27px;
  height: 27px;
  text-align: center;
  font-size: large;
}
