<div>
  <h1 mat-dialog-title>Please enter your birth year</h1>
  <!-- <div>
      <select id="select_year"></select>
    </div> -->
  <div class="mt-4">
    <button
      mat-stroked-button
      color="primary"
      (click)="onClickButton(operation.MINUS)"
    >
      -1
    </button>
    <span class="m-2">
      {{ yearToString(year) }}
    </span>
    <button
      mat-stroked-button
      color="primary"
      (click)="onClickButton(operation.PLUS)"
    >
      +1
    </button>
  </div>
  <div mat-dialog-element class="float-right mt-4 mb-4">
    <button mat-raised-button color="primary" (click)="close()">Submit</button>
  </div>
</div>
