<div style="min-width: 480px; min-height: 320px">
  <div
    *ngIf="selectedOption === option.NONE"
    style="display: flex; flex-direction: column"
  >
    <h1>How would you like to declare your year of birth?</h1>
    <button
      mat-raised-button
      color="primary"
      (click)="selectedOption = option.PLUSMINUS"
      style="margin-top: 16px"
    >
      Plus-Minus
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="selectedOption = option.CLICKS"
      style="margin-top: 16px"
    >
      Clicks
    </button>
  </div>
  <!-- divs for components below -->
  <app-plus-minus *ngIf="selectedOption === option.PLUSMINUS"></app-plus-minus>
  <app-clicks *ngIf="selectedOption === option.CLICKS"></app-clicks>
</div>
